.Home {
	position: relative;
	width: 360px;
	height: 700px;
	/* color_1 */
	background: #333131;
	border-radius: 8px;
}

.menu-down {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
	position: absolute;
	width: 360px;
	height: 94px;
	left: calc(50% - 360px/ 2);
	bottom: 0px;
	/* color_1 */
	/*background: red;
	border-radius: 8px;*/
}